<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @product_color.name %>
</p>


<%= link_to 'Editar', edit_product_color_path(@product_color) %> |
<%= link_to 'Todas as Cores', product_colors_path %>
