<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Cuidado!</strong> Ao enviar lote ao estoque, o estoque será atualizado e o Lote concluído
</div>