<!-- Modal body -->
    <div class="modal fade" id="product_order_<%= product_order.id %>" tabindex="-1" role="dialog" aria-labelledby="Produtos do pedido" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Usar Estoque em Pedido</h4>
          </div>
          <div class="modal-body">
            Total em estoque <%= product_order.product.name %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->