<legend>Cadastrar novo Funcionário</legend>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Atenção, Campos Obrigatórios:</h4>
  <p></p>
  <p>Login</p>
  <p>Nome</p>
  <p>Data de Contratação</p>
  <p>RG</p>
  <p>CPF</p>
  <p>Data de Nascimento</p>
  <p>Endereço</p>
</div>

<%= render 'form' %>

<%= link_to 'Voltar', users_path %>

