<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @production_status.name %>
</p>


<%= link_to 'Edit', edit_production_status_path(@production_status) %> |
<%= link_to 'Back', production_statuses_path %>
