<h1>Alterar valor do estoque</h1>

<%= render 'form' %>

<%= link_to 'Cancelar', @product_stock, class: "btn btn-small" %> |
<%= link_to 'Resumo do Estoque', product_stocks_path, class: "btn btn-small" %>
