<% if flash[:error] %>
	$('#message').html("<p class='error'><b><%= flash[:error] %></b></p>")
  <% flash[:error] = nil # evitar ficar mensagem na seção %> 
  $('#modal_update_stock').modal('toggle')
  $('#product_order_<%= @product_order.id %>').modal('toggle')
<% else %>

  $('#product_order_<%= @product_order.id %>').modal('toggle')
  location.reload();
<% end %>



