<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product_stock.product.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @product_stock.quantity %>
</p>


<%= link_to 'Edit', edit_product_stock_path(@product_stock) %>
