<p id="notice"><%= notice %></p>

<p>
  <b>Produto:</b>
  <%= @product_stock.product.name %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @product_stock.quantity %>
</p>


<%= link_to 'Editar', edit_product_stock_path(@product_stock), class: "btn" %>
