// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$footerHeight: 50px;

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1 * $footerHeight;
}
.footer, .push {
	height: $footerHeight;
	text-align: center;
}

a {
	&:visited {
		color: black;
	}
	&:hover {
		background-color: transparent;
		color: blue;
	}
}

.coupon {
	border: 1px solid black;
	padding: 20px;
	img {
		width: 30%;
	}
	h4 {
		&.client {
			margin-bottom: 30px;
		}
		.normal {
			font-weight: normal;
		}
	}

	h6 {
		font-size: 14px;
		&.client {
			font-weight: bold;
			// margin-bottom: 10px;
			line-height: 15px;
		}
		&.normal {
			font-weight: normal;
		}
		.normal {
			font-weight: normal;
		}
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right!important;
	font-weight: bold;
}

@media print {
  #navbar-top,
  #sidenavbar,
  #footer,
  #printButton {
  	display: none
  } 
  
  #mainArea {
    display: block;
  }
}

.myform {
	margin: 0;
}